[Bb]in/
[Oo]bj/

.vs/
*.user
*.suo
*.sln.dotsettings

*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleasePublic/
[Xx]64/
[Xx]86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Bb]uild[Ll]og.*
[Nn]u[Gg]et[Pp]ackages/
artifacts/

*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

[Tt]est[Rr]esult*/
[Tt]est[Oo]utput/
*.trx
*.coverage
*.coveragexml

*.log
*.tmp
*.bak